@page "/monsteroverview"

<h2>MonsterOverview</h2>

@if (Monsters == null)
{
    <p><em>Loading... </em></p>
}
else
{
    <MonsterQuickView Monster="_selectedMonster"></MonsterQuickView>
	<MonsterAddToScreen Monster="_selectedAddMonster"></MonsterAddToScreen>
    <a href="@($"monsteredit")" class="btn btn-primary btn-sm mb-1">
        Create Monster
    </a>
    <div class="row">
        @foreach (var monster in Monsters)
        {
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <MonsterCard Monster="monster" MonsterQuickViewClicked="ShowMonsterQuickView" MonsterAddToScreenClicked="ShowMonsterAddToScreen"></MonsterCard>
            </div>

        }
    </div>
}