@page "/pcoverview"

<h2>PC Overview</h2>

@if (PCs == null)
{
    <p><em>Loading... </em></p>
}
else
{
    <PCQuickView PC="_selectedPC"></PCQuickView>
    <div class="row">
        @foreach (var pc in PCs)
        {
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <PCCard PC="pc" PCQuickViewClicked="ShowPCQuickView"></PCCard>
            </div>

        }
    </div>
}
