.navbar {
    background-color: black;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: solid;
    border-block-color: red;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown .dropbtn {
    background-color: transparent;
    color: grey;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}
/* Change on hover */
.dropdown:hover .dropbtn {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #26282a;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: #f1f1f1;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

/* Style from navbar */
.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.navbar-brand {
    font-size: 1.1rem;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item ::deep a {
        color: grey;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item ::deep a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item ::deep a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }