<div class="navbar">
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span class="oi oi-home" aria-hidden="true"></span> Home
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="dmscreen">
            <span class="oi oi-browser" aria-hidden="true"></span> DM Screen
        </NavLink>
    </div>
    <div class="dropdown nav-item px-3">
        <button class="dropbtn">Notes</button>
        <div class="dropdown-content">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="noteoverview">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> General
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="pcoverview">
                    <span class="oi oi-people" aria-hidden="true"></span> PCs
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="npcoverview">
                    <span class="oi oi-people" aria-hidden="true"></span> NPCs
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="monsteroverview">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Monsters
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="locationoverview">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Locations
                </NavLink>
            </div>
        </div>
    </div>
    
</div>

@code {

}
